.nav{
    position: fixed;
    width: 100vw;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:  center;
    z-index: 2;
    
    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.nav_contents{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_black{
    background-color: black;
}

.nav_logo{
    cursor: pointer;
}
.nav_avatar{
    margin-right: 50px;
    cursor: pointer;
}